/* body{
    margin-left: auto;
    margin-right: auto;
    width: 20em
} */

.header h1{
    width: 100%;
    height: 20px;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    padding: 20px 15px;
}

.content li{
    width: 100%;
    height: 30px;
    padding: 30px 15px;
    background-color: white;
    border: 1px solid #d3d3d3;
    text-align:  left;
}
